.steps{width: 1200px;margin: 10px auto 100px;}

.steps .steps-head{overflow: hidden;height: 40px;line-height: 40px;border-bottom:4px solid #31b0d5}
.steps .steps-head h3{float:left;width: 300px;text-align:center;background: #31b0d5;font-size: 24px;color: #fff;font-weight: bold;margin-right: 100px;}
.steps .steps-head p{float:left;height: 30px;line-height:30px;background: #fff;margin-right: 50px;margin-top: 5px;}
.steps .steps-head p strong,.steps-content .steps-head p span{font-size: 14px;}
.steps .steps-head p strong{margin-right: 8px;margin-left: 4px;font-size: 16px;}
.steps .steps-head p span{margin-right: 5px;font-size: 14px;cursor: pointer;}
.steps .steps-head p span.active{color: red;}
.steps .steps-head p a{color: #333;font-size: 16px;margin-left: 10px;cursor: pointer;}
.steps .steps-head p .mr10{margin-right: 10px;}
.steps .steps-head p .mr200{margin-right: 150px;}
.steps .steps-head p a:hover{color:red;}
.steps .steps-head p a.active-a{color: red;}
.steps .steps-head .fr{float: right;margin-right: 70px;}

.steps h4{line-height: 36px;font-size: 16px;zoom: 1;margin-top: 5px;overflow: hidden;}
.steps h4 em{margin-right: 10px;float:left;font-weight: bold;color: red;}
.steps h4 span{float:left;width: 1135px;word-wrap: break-word;word-break: break-all;}
.steps-content{width: 1200px;overflow: hidden;margin-top: 10px;position: relative;}
.steps-content .bg-img{position: absolute;top: 200px;width: 60px;height: 43px;background: url("../images/bg-img.png") no-repeat center center;transform: rotate(180deg);}

.steps-content .img1{left: 255px;}
.steps-content .img2{right: 570px;}
.steps-content .img3{right: 255px;}


.steps-content .bind-txt{width:60px;height:45px;background:#fff;position: absolute;top: 155px;right: 360px;}
.steps-content .bind-txt p{font-size: 14px;color: red;text-align: center;}

.steps-content div{float: left;width: 568px;background: #e6e6e6;border-radius: 5px;height: 500px;overflow-y: auto;}
.steps-content div h3{height: 36px;line-height: 36px;border-bottom: 1px solid #999;font-size: 18px;color: red;text-align: center;font-weight: bold;}

.steps .jq-question{}
.steps .jq-question p{background: #fff;margin-top: 5px;overflow: hidden;line-height: 26px;}
.steps .jq-question p strong{margin-left: 4px;font-size: 16px;color: red;font-weight: bold;margin-right: 10px;float: left;width: 70px;cursor: pointer;text-align: right;}
.steps .jq-question p span{font-size: 14px;cursor: pointer;float: left;width: 1100px;word-break: break-all;word-wrap: break-word;display: none;}

.steps .swich-box{height: 36px;line-height: 36px;margin-left: 20px;}
.steps .swich-box span{margin-right: 8px;font-size: 14px;color: red;font-weight: bold;}

.steps-content div ul{margin-top: 10px;margin-bottom: 10px;padding-left: 10px;}
.steps-content div ul li{width:220px;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;}
.steps-content div ul li strong{font-weight: normal;}
.steps-content div ul li span{margin-right: 10px;}
.steps-content div ul li span i{margin-left: 2px;margin-right: 2px;}
.steps-content div dl{font-size: 14px;padding: 10px;}
.steps-content div dl dd{line-height: 24px;overflow: hidden;}
.steps-content div dl dd em{float: left;}
.steps-content div dl dd span{float:left;text-indent: 0;word-break: break-all;word-wrap: break-word;}
.mr100{margin-right: 60px;}

.steps-content div{width: 255px;height: 500px;position: relative;}
.steps-content div h4{height: 36px;background: #999;width: 300px;text-indent: 10px;color: #fff;line-height: 36px;font-size: 14px;}
.steps-content div dl{background: #fff;width: 224px;margin: 10px;padding-bottom: 20px;height: 360px;overflow-y: auto;}

.steps-content div dl dt{overflow: hidden;color: #666;margin-bottom: 10px;}
.steps-content div dl dt em{font-weight: bold;float: left;width: 36px;text-align: center}
.steps-content div dl dt span{text-indent: 0;float:left;width: 170px;word-wrap: break-word;word-break: break-all;}
.steps-content div dl dd{zoom: 1;overflow: hidden;cursor: pointer;}
.steps-content div dl dd.active-txt{background: #e6e6e6;}
.steps-content div dl dd em{font-weight: bold;float: left;width: 40px;text-align: left;}
.steps-content div dl dd span{float:left;width: 166px;word-break: break-all;word-wrap: break-word;}
.steps-content div .plus-show{position: absolute;bottom: 10px;width:240px;overflow: hidden;height: 40px;}
.steps-content div .plus-show .text{width: 176px;height: 40px;float: left;bottom: 0;text-indent: 10px;font-size: 14px;border: 1px solid #e6e4e5;margin-left: 10px;color: #666;}
.steps-content div .plus-show .plus-btn{width: 50px;float: left;height: 40px;border: 0;background: #31b0d5;color: #fff;font-size: 14px;cursor: pointer;}