.steps{width: 1200px;margin: 10px auto 100px;}

.steps .steps-head{overflow: hidden;height: 40px;line-height: 40px;border-bottom:4px solid #31b0d5}
.steps .steps-head h3{float:left;width: 300px;text-align:center;background: #31b0d5;font-size: 24px;color: #fff;font-weight: bold;margin-right: 100px;}
.steps .steps-head p{float:left;width: 340px;height: 30px;line-height:30px;background: #fff;margin-right: 110px;margin-top: 5px;}
.steps .steps-head p:last-of-type{margin-right: 0;}
.steps .steps-head p strong,.steps-content .steps-head p span{font-size: 14px;}
.steps .steps-head p strong{margin-right: 8px;margin-left: 4px;font-size: 16px;}
.steps .steps-head p span{margin-right: 5px;font-size: 14px;cursor: pointer;}
.steps .steps-head p span.active{color: red;}
.steps .steps-head p a{color: #333;font-size: 16px;margin-left: 6px;cursor: pointer;}
.steps .steps-head p a:hover{color:red;}
.steps .steps-head p a.active-a{color: red;}

.steps-content{width: 1200px;overflow: hidden;margin-top: 10px;position: relative;}
.steps-content .bg-img{position: absolute;top: 200px;width: 60px;height: 43px;background: url("../images/bg-img.png") no-repeat center center;left: 500px;}
.steps-content .left{float: left;width: 500px;background: #e6e6e6;border-radius: 5px;height: 500px;overflow-y: auto;}
.steps-content div h3{height: 36px;line-height: 36px;border-bottom: 1px solid #999;font-size: 18px;color: red;text-align: center;}
.steps-content div h3 em{color: #666;}
.steps-content div ul{margin-top: 10px;margin-bottom: 10px;padding-left: 10px;}
.steps-content div ul li{width:220px;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;}
.steps-content div ul li strong{font-weight: normal;}
.steps-content div ul li span{margin-right: 10px;}
.steps-content div ul li span i{margin-left: 2px;margin-right: 2px;}
.steps-content div dl{font-size: 14px;}
.steps-content div dl dt{height: 36px;line-height: 36px;background: #31b0d5;color: #fff;text-indent: 10px;font-size: 16px;}
.steps-content div dl dd{text-indent: 10px;line-height: 24px;}
.steps-content .left dl dd{padding: 0 8px;}
.steps-content div dl dd span{margin-right: 10px;text-indent: 0;}
.mr100{margin-right: 60px;}

.steps-content div.right{width: 640px;float: left;background: #e6e6e6;border-radius: 5px;}
.steps-content div.right .test-centent{width: 640px;height: 440px;overflow-y: auto;position: relative;}
.steps-content div.right .test-centent dl{height: 220px;overflow-y: auto;}
.steps-content div.right .answer-content{width: 640px;}
.steps-content div.right .answer-content dl{height: 160px;overflow-y: auto;}
.steps-content div.right .bg-white{width: 640px;height: 40px;background: #fff;}
.steps-content div.right h4{height: 36px;background: #e6e4e5;width: 640px;text-align:center;color: #666;line-height: 40px;font-size: 18px;}
.steps-content div.right h4 span{color: red;}
.steps-content div.right dl{background: #fff;width: 620px;margin: 0 10px 10px 10px;padding-bottom: 20px;}
.steps-content div.right dl dt{background: #fff;color: red;}
.steps-content div.right dl dd{overflow: hidden;}
.steps-content .test-centent dl dd.active-txt{background: #e6e6e6;cursor: pointer;}
.steps-content div.right dl dd em{font-weight: bold;float: left;width: 44px;}
.steps-content div.right dl dd span{float:left;width: 520px;}
.steps-content div.right .plus-show{position: absolute;height:110px;bottom: 0px;width:640px;overflow: hidden;}
.steps-content div.right .plus-show .text{width: 520px;height: 100px;line-height:24px;float: left;bottom: 0;text-indent: 10px;font-size: 14px;margin-left: 10px;color: #666;border: 1px solid #999;}
.steps-content div.right .plus-show .plus-btn{width: 100px;float: left;height: 40px;border: 0;background: #31b0d5;color: #fff;font-size: 14px;cursor: pointer;margin-top: 8px;}
.steps-content div.right .plus-show .test-btn{width: 60px;float: left;height: 40px;;border: 0;background: #31b0d5;color: #fff;font-size: 14px;cursor: pointer;margin-top: 8px;margin-left: 20px;}